body {
    font: 10px sans-serif;
}

svg text {
    fill: grey;
    font-size: 11px;
}

svg .values text {
    pointer-events: none;
    stroke-width: 0.5px;
}

.groups:hover {
    cursor: pointer;
    font-weight: bold;
}